.header {
    margin-top: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 80px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoThin;
    font-size: 100px;
    padding-bottom: 100px;
}